<% provide(:title, 'Credits') %>

<% provide :page_heading do %>
    <%= t('Credits') %>
<% end %>

<h2>Images credits</h2>
<ul>
  <li>
Icons made by <a href="https://www.flaticon.com/authors/pixel-buddha" > Pixel Buddha </a> from www.flaticon.com are licensed by CC BY 3.0
  </li>
</ul>
