
<% ignore do %>

  <%= link_to "#", onclick: "history.back()", title: t("Back"), class: "mat-icon-button mat-button-base" do %>
    <span class="fa fa-angle-left"></span>
  <% end %>
  
<% ignore end %>
