.page-credentials {
  .column-main {
    @extend %striped-gradient;

    > .sticky {

      &:after {
        content: "\00A0";
        position: absolute;
        z-index: 0;
        left: 0;
        bottom: 15px;
        width: 100%;
        height: 85px;
        //background: image-url('pattern_paper_cutout.png') 50% 50% repeat-x;
        background-size: auto 85px;
        opacity: 0.2;
      }
    }

    .sticky-main {
      position: relative;
      z-index: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }

    .mat-card {
      max-width: 500px;
      margin: 0 0 5%;
      padding: 50px;

      hr {
        margin: 1.8em 0;
      }
    }
  }
}

.credential-actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.credentials-links {
  text-align: right;
}
