<section id="collapsible-annotations-ct">
  <a id="collapsible-annotations-toggler"
     class="collapse-toggle collapsed mat-stroked-button mat-button-base"
     data-toggle="collapse"
     href="#collapsible-annotations">
    <%= t('Annotations') %>
  </a>

  <div class="collapse collapsed" id="collapsible-annotations">
      <%= yield %>
  </div>

</section>
